.App {
    --header_height: 60px;
}

.hw {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hwTitle {
    color: black;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    font-family: 'Montserrat';
    padding-bottom: 50px;
    padding-top: 30px;
    text-decoration: underline ;
    text-decoration-color: #D9D9D9;
}